
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: #333;
            background: url('https://occ-0-8407-1360.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABR6vn8BtaC8r6FhDOfMCliOri5vm4p5bCnxzV61blyd_QJP0qr8VdYGGyoFxkLfwDc1nDVqf4ilKrmD1XquOAlXD29EyAM4UbC4i.jpg?r=54a') no-repeat center center/cover;
            background-attachment: fixed;
        }

        header {
            text-align: center;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8);
        }

        header h1 {
            font-size: 2.5rem;
            margin: 0;
        }

        .countdown {
            text-align: center;
            font-size: 1.5rem;
            margin: 20px 0;
            color: greenyellow;
        }

        .form-section {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            margin: 20px auto;
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .form-section h2 {
            text-align: center;
            margin: 0 0 20px;
        }

        .form-section form {
            display: flex;
            flex-direction: column;
        }

        .form-section input,
        .form-section button {
            margin: 10px 0;
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .form-section button {
            background-color: #ff6b6b;
            color: white;
            cursor: pointer;
            border: none;
        }

        .form-section button:hover {
            background-color: green;
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        @media (max-width: 768px) {
            header h1 {
                font-size: 2rem;
            }

            .form-section {
                margin: 10px;
            }
        }